<p id="notice"><%= notice %></p>
	<div class="container">
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Level: <%= @card.level %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Color: <%= @card.color %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Points: <%= @card.points %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Cost White: <%= @card.cost_white %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Cost Blue: <%= @card.cost_blue %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Cost Green: <%= @card.cost_green %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Cost Red: <%= @card.cost_red %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	Cost Brown: <%= @card.cost_brown %>
	      	</div>
	    </div>
	    <div class="row collapse">
	      	<div class="large-12 columns">
	        	<%= image_tag @card.image %>
	      	</div>
	    </div>
	</div>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
